body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

#word {
  overflow-x: hidden;
}

main {
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 7rem;
}

#quiz-main {
  overflow: auto;
}

main::after {
  content: "";
  background: url("../img/welcome-bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#welcome {
  height: 100%;
}

.line {
  display: block;
  height: 1px;
  background-color: black;
}

#word-main .container .card .col-sm-4 audio {
  width: 100%;
}

#hint,
#definition,
#audio {
  transition: all 0.5s ease-in-out;
}

#hint:hover,
#definition:hover,
#audio:hover {
  cursor: pointer;
  opacity: 0.5;
}

#word-template {
  display: none;
  margin-top: 6rem;
}

#start {
  margin-top: 18rem;
}

.quiz-text {
  font-size: x-large;
}

#validation,
#finish,
#no-word-left {
  margin-top: 10rem;
  display: none;
}
