body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

#word {
  overflow-x: hidden;
}

main {
  background: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#quiz-main {
  overflow: auto;
}

#word-main,
#login-main,
#register-main,
#settings-main {
  margin-top: 5rem;
}

main::after {
  content: "";
  background: url("../img/welcome-bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#welcome {
  height: 100%;
}

.line {
  display: block;
  height: 1px;
  background-color: black;
}

#verification,
#loading,
#login-not-filled-alert,
#login-failure,
#register-not-filled-alert,
#email-alert,
#password-alert,
#logout,
#settings,
#settings-password-alert {
  display: none;
}

#word-main .container .card .col-sm-4 audio {
  width: 100%;
}

#hint,
#definition,
#audio {
  transition: all 0.5s ease-in-out;
}

#hint:hover,
#definition:hover,
#audio:hover {
  cursor: pointer;
  opacity: 0.5;
}

#word-template {
  display: none;
  margin-top: 6rem;
}

#start {
  margin-top: 18rem;
}

.quiz-text {
  font-size: x-large;
}

#validation,
#finish,
#no-word-left {
  margin-top: 10rem;
  display: none;
}

#login-not-filled-alert,
#login-failure,
#register-not-filled-alert,
#email-alert,
#password-alert,
#settings-password-alert {
  background-color: rgba(236, 132, 132, 0.728);
}
